.play-quiz img {
  width: 100px;
  height: 20vh;
}

.quiz-options button {
  width: 90%;
  background-color: #bad7e9;
  color: #eb455f;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  margin: 10px;
}
