.navbar {
  height: 10vh;
  width: 100%;
  background: rgb(186, 215, 233);
  background: linear-gradient(
    90deg,
    rgba(186, 215, 233, 1) 23%,
    rgba(253, 29, 71, 1) 49%,
    rgba(252, 255, 231, 1) 100%
  );
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
}
.home-icon img {
  width: 70px;
  height: 70px;
}
.themeButton {
  background-color: transparent;
  border: none;
}
.themeButton img {
  width: 70px;
  height: 70px;
}

/* primary color :#EB455F
primary light : #FCFFE7
light 2 : #BAD7E9 */
