.quiz-card {
  height: 200px;
  width: 250px;
  margin: 20px;
  position: relative;
  z-index: 1;
  top: 200px;
}
.quiz-img {
  height: 100%;
  width: 100%;
}

.quiz-title {
  color: white;
  position: absolute;
  font-size: 2rem;
  z-index: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
